<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ie.ucd.comp2013J.mapper.ClassroomCourseMapper">

    <resultMap id="ClassroomCourseResultMap" type="ClassroomCourse">
        <id column="id" property="id"/>
        <result column="classroom_id" property="classroomId"/>
        <result column="course_id" property="courseId"/>
    </resultMap>

    <insert id="insertClassroomCourse" parameterType="ClassroomCourse" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classroom_course (classroom_id, course_id)
        VALUES (#{classroomId}, #{courseId})
    </insert>

    <select id="selectByCourseIDAndClassroomID" resultType="ClassroomCourse">
        SELECT *
        FROM classroom_course
        WHERE classroom_id = #{classroomId}
          AND course_id = #{courseId};
    </select>

    <select id="selectClassroomCoursesByCourseIds" resultType="ClassroomCourse" resultMap="ClassroomCourseResultMap">
        SELECT * FROM classroom_course
        <where>
            <if test="courseList != null and courseList.size() > 0">
                course_id IN
                <foreach collection="courseList" item="course" open="(" separator="," close=")">
                    #{course.id}
                </foreach>
            </if>
        </where>
    </select>


    <select id="selectByClassroomId" resultType="ClassroomCourse" resultMap="ClassroomCourseResultMap">
        SELECT *
        FROM classroom_course
        WHERE classroom_id = #{classroomId};
    </select>


    <delete id="deleteByCourseIdAndClassroomId">
        DELETE
        FROM classroom_course
        WHERE course_id = #{courseId}
          AND classroom_id = #{classroomId}
    </delete>


</mapper>