<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.ucd.comp2013J.mapper.ClassroomMapper">

    <resultMap id="ClassroomResultMap" type="Classroom">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="floor" property="floor"/>
        <result column="capacity" property="capacity"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="insertClassroom" parameterType="Classroom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classrooms (number, floor, capacity, status)
        VALUES (#{number}, #{floor}, #{capacity}, #{status})
    </insert>

    <select id="selectByNumber" resultType="Classroom">
        SELECT *
        FROM classrooms
        WHERE number = #{number};
    </select>

    <select id="selectById" resultType="Classroom" resultMap="ClassroomResultMap">
        SELECT *
        FROM classrooms
        WHERE id = #{id};
    </select>


    <select id="selectClassroomsByPage" resultType="Classroom" resultMap="ClassroomResultMap">
        SELECT *
        FROM classrooms
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="selectTotalClassrooms" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM classrooms;
    </select>

    <select id="selectAllClassrooms" resultType="Classroom" resultMap="ClassroomResultMap">
        SELECT *
        FROM classrooms;
    </select>

    <select id="selectClassroomsByFilterAndSpecificNumber" resultType="Classroom" resultMap="ClassroomResultMap" >
        SELECT *
        FROM (
        SELECT *
        FROM classrooms
        <where>
            <if test="floor != null">
                floor = #{floor}
            </if>
            <if test="capacity != null">
                AND capacity = #{capacity}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ) AS filtered_classrooms
        WHERE (
        #{specificNumber} IS NULL
        OR number LIKE CONCAT('%', #{specificNumber}, '%')
        )
    </select>


   <!--暂未使用的sql语句:-->

    <!--用<set>标签代替set关键字避免<if>中语句不被执行导致逗号缺失造成sql语法错误-->
    <select id="selectClassroomsByFloorCapacityStatus" resultType="Classroom" resultMap="ClassroomResultMap">
        SELECT *
        FROM classrooms
        <where>
            <if test="floor != null">
                floor = #{floor} AND
            </if>
            <if test="capacity != null">
                capacity = #{capacity} AND
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </where>
    </select>

    <select id="selectBySpecificNumber" parameterType="int" resultType="Classroom" resultMap="ClassroomResultMap">
        SELECT * FROM classrooms
        WHERE number LIKE CONCAT('%', #{specificNumber}, '%')
    </select>


</mapper>

