<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.ucd.comp2013J.mapper.ClassroomMapper">

    <resultMap id="ClassroomResultMap" type="Classroom">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="floor" property="floor"/>
        <result column="capacity" property="capacity"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="insertClassroom" parameterType="Classroom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classrooms (number, floor, capacity, status)
        VALUES (#{number}, #{floor}, #{capacity}, #{status})
    </insert>

    <select id="selectByNumber" resultType="Classroom">
        SELECT *
        FROM classrooms
        WHERE number = #{number};
    </select>

    <select id="selectById" resultType="Classroom" resultMap="ClassroomResultMap">
        SELECT * FROM classrooms WHERE id = #{id};
    </select>


</mapper>

