<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ie.ucd.comp2013J.mapper.CourseMapper">

    <resultMap id="CourseResult" type="Course">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="start_week" property="startWeek"/>
        <result column="end_week" property="endWeek"/>
        <result column="week_day" property="weekDay"/>
        <result column="schooltime" property="schooltime"/>
        <result column="detail" property="detail"/>
    </resultMap>


    <insert id="insertCourse" parameterType="Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO courses (name, start_week, end_week, week_day, schooltime, detail)
        VALUES (#{name}, #{startWeek}, #{endWeek}, #{weekDay}, #{schooltime}, #{detail})
    </insert>

    <select id="selectCourseByNameStartWeekEndWeekWeekDaySchooltime" resultType="Course" resultMap="CourseResult">
        SELECT *
        FROM courses
        WHERE name = #{name}
          AND start_week = #{startWeek}
          AND end_week = #{endWeek}
          AND week_day = #{weekDay}
          AND schooltime = #{schooltime}
    </select>

    <select id="selectTotalCourses" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM courses;
    </select>

    <select id="selectCoursesByPage" resultType="Course" resultMap="CourseResult">
        SELECT *
        FROM courses
        LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="selectCoursesByClassroomId" resultType="Course" resultMap="CourseResult">
        SELECT courses.*
        FROM courses
                 JOIN classroom_course ON courses.id = classroom_course.course_id
        WHERE classroom_course.classroom_id = #{classroomId}
    </select>

    <select id="selectByClassroomCourses" resultType="Course" resultMap="CourseResult">
        SELECT * FROM courses WHERE id IN
        <foreach item="classroomCourse" collection="classroomCourses" open="(" separator="," close=")">
            #{classroomCourse.courseId}
        </foreach>
    </select>


    <select id="selectById" resultType="Course" resultMap="CourseResult">
        SELECT *
        FROM courses
        WHERE id = #{id};
    </select>

    <update id="updateCourse" parameterType="Course">
        UPDATE courses
        SET name = #{name},
            start_week = #{startWeek},
            end_week = #{endWeek},
            week_day = #{weekDay},
            schooltime = #{schooltime},
            detail = #{detail}
        WHERE id = #{id}
    </update>
</mapper>
