<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.ucd.comp2013J.mapper.ReservationMapper">
    <resultMap id="ReservationResultMap" type="ie.ucd.comp2013J.pojo.Reservation">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="classroom_id" property="classroom_id"/>
        <result column="purpose" property="purpose"/>
        <result column="week_day" property="week_day"/>
        <result column="time" property="time"/>
    </resultMap>

    <insert id="insert" parameterType="ie.ucd.comp2013J.pojo.Reservation">
        INSERT INTO reservations (user_id, classroom_id, purpose, week_day, time)
        VALUES (#{userId}, #{classroomId}, #{purpose}, #{week_day}, #{time})
    </insert>

    <update id="update" parameterType="ie.ucd.comp2013J.pojo.Reservation">
        UPDATE reservations
        SET user_id= #{userId},
            classroom_id = #{classroomId},
            purpose = #{purpose},
            week_day = #{week_day},
            time = #{time}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE
        FROM reservations
        WHERE id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="ReservationResultMap">
        SELECT *
        FROM reservations
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="ReservationResultMap">
        SELECT *
        FROM reservations
    </select>

</mapper>