.simple-linear {
  background: linear-gradient(#66CCFF, white);
}
@charset "utf-8";
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
.groove {border-style:groove;}
.button1 {
    width: 10%;
    border: 1px solid green;
    background-color: green;
    font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
}